In [ ]:
# Update sklearn to prevent version mismatches
#!pip install sklearn --upgrade

In [ ]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
#!pip install joblib

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read the CSV and Perform Basic Data Cleaning

Create a Random Sample Dataframe to get random an equal number of random values for white wine data
Red wine data has 1599 rows, and White wine data has 4898 rows

In [ ]:
red_wine_df = pd.read_csv("winequality-red.csv", sep=';')
white_df = pd.read_csv("winequality-white.csv", sep=';')
white_wine_df = white_df.copy()
red_wine_df

In [ ]:
bin_values = np.arange(start=0, stop=10, step=2)
white_df['quality'].hist(bins=bin_values, figsize=[14,6])
plt.title("White Wine Original (4898 data points)")
plt.show()

In [ ]:
bin_values = np.arange(start=0, stop=9, step=2)
rand_white_df['quality'].hist(bins=bin_values, figsize=[14,6])
plt.title("White Wine Randomized (1599 random data points)")
plt.show()

In [ ]:
bin_values = np.arange(start=0, stop=9, step=2)
red_wine_df['quality'].hist(bins=bin_values, figsize=[14,6])
plt.title("Red Wine Original (1599 data points)")
plt.show()

In [ ]:
#Remove quality of 9's, because only white wine data has five 9 qualities which would skew our data
new_white_df = white_wine_df[white_wine_df["quality"] <= 8].copy()
#get random sample
rand_white_df = new_white_df.sample(1599,random_state=54).reset_index(drop=True)
rand_white_df
#add color rows
rand_white_df["color"] = "white"
red_wine_df["color"] = "red"
# rand_white_df
# red_wine_df
new_combinedf = pd.concat([red_wine_df, rand_white_df,])
#red wine is 0 and white wine is 1
combinedf = pd.get_dummies(new_combinedf, columns=['color'])
new_one_combinedf = combinedf.drop(columns=["color_red"]).copy()
new_one_combinedf.rename(columns={color_white})

In [ ]:
combinedf = combinedf.loc[\
(combinedf["quality"] < 9 ) & \
(combinedf["quality"] > 3 )  \
] 
combinedf

In [ ]:
# df1 = pd.read_csv("winequality-white.csv", sep=';')
# df2 = pd.read_csv("winequality-red.csv", sep=';')
# combinedf = pd.concat([df1,df2])
# combinedf = combinedf.dropna(axis='columns', how='all')
# # Drop the null rows
# combinedf = combinedf.dropna()
# combinedf.head()

In [ ]:
combinedf.groupby('quality').count()

In [3]:
red_wine_df = pd.read_csv("winequality-red.csv", sep=';')
white_wine_df = pd.read_csv("winequality-white.csv", sep=';')
white_wine_df.info()
white_wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [4]:
random_white_df = white_wine_df.sample(1599,random_state=42).reset_index(drop=True)

In [6]:
baseline_red_df = red_wine_df.copy()
baseline_white_df = random_white_df.copy()
only_balanced_df = pd.concat([baseline_red_df, baseline_white_df])
only_balanced_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.7,0.34,0.31,16.4,0.051,20.0,146.0,0.99834,3.06,0.54,9.1,5
1595,9.3,0.31,0.49,1.3,0.042,34.0,147.0,0.99480,3.11,0.46,9.8,5
1596,6.4,0.17,0.27,6.7,0.036,88.0,223.0,0.99480,3.28,0.35,10.2,6
1597,7.5,0.29,0.36,15.7,0.050,29.0,124.0,0.99680,3.06,0.54,10.4,5
1598,6.8,0.28,0.29,11.9,0.052,51.0,149.0,0.99544,3.02,0.58,10.4,6

In [7]:
bin_balanced_df = only_balanced_df.copy()
bins = [0, 4, 6, 10]
group_names = [0, 1, 2]
bin_balanced_df["bin_quality"] = pd.cut(bin_balanced_df["quality"], bins, labels=group_names)
bin_qual_df = bin_balanced_df.drop(columns="quality")

bin_qual_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,bin_quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,1

# Select your features (columns)

In [9]:
# Set features. Drop quality disposition, y value. 
X = bin_qual_df.drop(columns='bin_quality')
#X = df.drop(columns='quality')
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

# Create a Train Test Split

Use `quality` for the y values

In [11]:
from sklearn.model_selection import train_test_split
#80% train, 20% test. y is this one column
#y = df['quality']
y = bin_qual_df['bin_quality']
#random state 42 will have same picks for x test and y test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y, test_size=0.2)

In [12]:
X_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
156,5.7,0.210,0.32,1.6,0.030,33.0,122.0,0.99044,3.33,0.52,11.9
571,6.2,0.360,0.24,2.2,0.095,19.0,42.0,0.99460,3.57,0.57,11.7
976,7.2,0.410,0.30,2.1,0.083,35.0,72.0,0.99700,3.44,0.52,9.4
275,7.9,0.545,0.06,4.0,0.087,27.0,61.0,0.99650,3.36,0.67,10.7
1008,8.9,0.350,0.40,3.6,0.110,12.0,24.0,0.99549,3.23,0.70,12.0

# Pre-processing

Scale the data using LabelEncoder and MinMaxScaler

In [13]:
# Scale your data - see Activity 03/05
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
import tensorflow as tf
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense
from sklearn.preprocessing import LabelEncoder
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

In [15]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [16]:
y_train_categorical.shape

(2558, 3)

# Train the Model

In [21]:
# first, create a normal neural network with 11 inputs, 100 hidden nodes, and 3 outputs
model = Sequential()
model.add(Dense(units=10, activation='relu', input_dim=11))
model.add(Dense(units=100, activation='relu'))
#model.add(Dense(units=10000, activation='relu'))
model.add(Dense(units=3, activation='softmax'))

In [22]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [23]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 10)                120
_________________________________________________________________
dense_5 (Dense)              (None, 100)               1100
_________________________________________________________________
dense_6 (Dense)              (None, 3)                 303
=================================================================
Total params: 1,523
Trainable params: 1,523
Non-trainable params: 0
_________________________________________________________________

In [24]:
# set early stopping as callback
callbacks = [EarlyStopping(monitor='val_loss', patience=2)]
model.fit(
    X_train_scaled,
    y_train_categorical,
    callbacks=callbacks,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
 - 0s - loss: 0.7500 - accuracy: 0.7224
Epoch 2/60
 - 0s - loss: 0.5723 - accuracy: 0.7846
Epoch 3/60
 - 0s - loss: 0.5484 - accuracy: 0.7807
Epoch 4/60

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/keras/callbacks/callbacks.py:846: RuntimeWarning: Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
  (self.monitor, ','.join(list(logs.keys()))), RuntimeWarning

 - 0s - loss: 0.5320 - accuracy: 0.7889
Epoch 5/60
 - 0s - loss: 0.5278 - accuracy: 0.7834
Epoch 6/60
 - 0s - loss: 0.5218 - accuracy: 0.7854
Epoch 7/60
 - 0s - loss: 0.5177 - accuracy: 0.7932
Epoch 8/60
 - 0s - loss: 0.5136 - accuracy: 0.7940
Epoch 9/60
 - 0s - loss: 0.5112 - accuracy: 0.7979
Epoch 10/60
 - 0s - loss: 0.5081 - accuracy: 0.7936
Epoch 11/60
 - 0s - loss: 0.5064 - accuracy: 0.7967
Epoch 12/60
 - 0s - loss: 0.5058 - accuracy: 0.7987
Epoch 13/60
 - 0s - loss: 0.5059 - accuracy: 0.7936
Epoch 14/60
 - 0s - loss: 0.5039 - accuracy: 0.7971
Epoch 15/60
 - 0s - loss: 0.5013 - accuracy: 0.7983
Epoch 16/60
 - 0s - loss: 0.5053 - accuracy: 0.7995
Epoch 17/60
 - 0s - loss: 0.5024 - accuracy: 0.8034
Epoch 18/60
 - 0s - loss: 0.5012 - accuracy: 0.7967
Epoch 19/60
 - 0s - loss: 0.5028 - accuracy: 0.7975
Epoch 20/60
 - 0s - loss: 0.5022 - accuracy: 0.8002
Epoch 21/60
 - 0s - loss: 0.5003 - accuracy: 0.7936
Epoch 22/60
 - 0s - loss: 0.5000 - accuracy: 0.7991
Epoch 23/60
 - 0s - loss: 0.4979 - accuracy: 0.8006
Epoch 24/60
 - 0s - loss: 0.4997 - accuracy: 0.7987
Epoch 25/60
 - 0s - loss: 0.4968 - accuracy: 0.7983
Epoch 26/60
 - 0s - loss: 0.4951 - accuracy: 0.8045
Epoch 27/60
 - 0s - loss: 0.4971 - accuracy: 0.8061
Epoch 28/60
 - 0s - loss: 0.4954 - accuracy: 0.8006
Epoch 29/60
 - 0s - loss: 0.4983 - accuracy: 0.8010
Epoch 30/60
 - 0s - loss: 0.4933 - accuracy: 0.8038
Epoch 31/60
 - 0s - loss: 0.4968 - accuracy: 0.8026
Epoch 32/60
 - 0s - loss: 0.4951 - accuracy: 0.7987
Epoch 33/60
 - 0s - loss: 0.4941 - accuracy: 0.8053
Epoch 34/60
 - 0s - loss: 0.4964 - accuracy: 0.8026
Epoch 35/60
 - 0s - loss: 0.4935 - accuracy: 0.7991
Epoch 36/60
 - 0s - loss: 0.4919 - accuracy: 0.8045
Epoch 37/60
 - 0s - loss: 0.4928 - accuracy: 0.8026
Epoch 38/60
 - 0s - loss: 0.4913 - accuracy: 0.8069
Epoch 39/60
 - 0s - loss: 0.4898 - accuracy: 0.8073
Epoch 40/60
 - 0s - loss: 0.4929 - accuracy: 0.8030
Epoch 41/60
 - 0s - loss: 0.4916 - accuracy: 0.8018
Epoch 42/60
 - 0s - loss: 0.4918 - accuracy: 0.8041
Epoch 43/60
 - 0s - loss: 0.4891 - accuracy: 0.8010
Epoch 44/60
 - 0s - loss: 0.4874 - accuracy: 0.8034
Epoch 45/60
 - 0s - loss: 0.4892 - accuracy: 0.8053
Epoch 46/60
 - 0s - loss: 0.4904 - accuracy: 0.8041
Epoch 47/60
 - 0s - loss: 0.4896 - accuracy: 0.8030
Epoch 48/60
 - 0s - loss: 0.4875 - accuracy: 0.8077
Epoch 49/60
 - 0s - loss: 0.4881 - accuracy: 0.8053
Epoch 50/60
 - 0s - loss: 0.4867 - accuracy: 0.8034
Epoch 51/60
 - 0s - loss: 0.4863 - accuracy: 0.8057
Epoch 52/60
 - 0s - loss: 0.4863 - accuracy: 0.8061
Epoch 53/60
 - 0s - loss: 0.4852 - accuracy: 0.8104
Epoch 54/60
 - 0s - loss: 0.4852 - accuracy: 0.8096
Epoch 55/60
 - 0s - loss: 0.4862 - accuracy: 0.8104
Epoch 56/60
 - 0s - loss: 0.4858 - accuracy: 0.8088
Epoch 57/60
 - 0s - loss: 0.4840 - accuracy: 0.8065
Epoch 58/60
 - 0s - loss: 0.4836 - accuracy: 0.8084
Epoch 59/60
 - 0s - loss: 0.4850 - accuracy: 0.8065
Epoch 60/60
 - 0s - loss: 0.4857 - accuracy: 0.8069

In [25]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.49868926107883454, Accuracy: 0.8062499761581421

In [29]:
encoded_predictions = model.predict_classes(X_test_scaled[:100])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [30]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:100])}")

Predicted classes: [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 2 1 1 1 2 1
 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 2 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
Actual Labels: [1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 0, 2, 1, 2, 1, 1, 1, 1, 1, 1]

# RESULTS

quality = 5,6,7

test size = .1

model.add(Dense(units=100, activation='relu', input_dim=11))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=3, activation='softmax'))

Normal Neural Network - Loss: 0.816428262801847, Accuracy: 0.6056105494499207

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
# import joblib
# filename = 'redwinedeeplearning.sav'
# joblib.dump(model, filename)