In [2]:
# Update sklearn to prevent version mismatches
#!pip install sklearn --upgrade

In [3]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
#!pip install joblib

In [4]:
import pandas as pd
import numpy as np

Import our white and red wine data from the csvs

# Read the CSV and Perform Basic Data Cleaning

In [5]:
red_wine_df = pd.read_csv("winequality-red.csv", sep=';')
white_wine_df = pd.read_csv("winequality-white.csv", sep=';')
white_wine_df.info()
red_wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

## Unbalanced (Denormalized) Data for White Wine Data (4898 data points) and Red Wine Data (1599 data points)

We want to use all the white and red wine data baseline condition we can use:

In [6]:
#if we want our only features of the model to consist of all white and red wine data, we use this data frame:
baseline_red_df = red_wine_df.copy()
baseline_white_df = white_wine_df.copy()
baseline_wine_df = pd.concat([baseline_red_df, baseline_white_df])

In [7]:
baseline_wine_df.groupby('quality').count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,30,30,30,30,30,30,30,30,30,30,30
4,216,216,216,216,216,216,216,216,216,216,216
5,2138,2138,2138,2138,2138,2138,2138,2138,2138,2138,2138
6,2836,2836,2836,2836,2836,2836,2836,2836,2836,2836,2836
7,1079,1079,1079,1079,1079,1079,1079,1079,1079,1079,1079
8,193,193,193,193,193,193,193,193,193,193,193
9,5,5,5,5,5,5,5,5,5,5,5

In [8]:
#Suppose we want to take specific ranges in only_balanced_df, which does not include colors
# range_colors_df = dummy_colors_df.loc[\
# (dummy_colors_df["quality"] <= 8 ) & \
# (dummy_colors_df["quality"] >= 3 )  \
# ]

In [9]:
bin_balanced_df = baseline_wine_df.copy()
bins = [0, 4, 6, 10]
group_names = [0, 1, 2]
bin_balanced_df["bin_quality"] = pd.cut(bin_balanced_df["quality"], bins, labels=group_names)
bin_balanced_df.head(30)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,bin_quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,1
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,1
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,2
8,7.8,0.580,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,2
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,1
10,6.7,0.580,0.08,1.8,0.097,15.0,65.0,0.9959,3.28,0.54,9.2,5,1
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,1
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.9943,3.58,0.52,9.9,5,1
13,7.8,0.610,0.29,1.6,0.114,9.0,29.0,0.9974,3.26,1.56,9.1,5,1
14,8.9,0.620,0.18,3.8,0.176,52.0,145.0,0.9986,3.16,0.88,9.2,5,1
15,8.9,0.620,0.19,3.9,0.170,51.0,148.0,0.9986,3.17,0.93,9.2,5,1
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.9969,3.30,0.75,10.5,7,2
17,8.1,0.560,0.28,1.7,0.368,16.0,56.0,0.9968,3.11,1.28,9.3,5,1
18,7.4,0.590,0.08,4.4,0.086,6.0,29.0,0.9974,3.38,0.50,9.0,4,0
19,7.9,0.320,0.51,1.8,0.341,17.0,56.0,0.9969,3.04,1.08,9.2,6,1
20,8.9,0.220,0.48,1.8,0.077,29.0,60.0,0.9968,3.39,0.53,9.4,6,1
21,7.6,0.390,0.31,2.3,0.082,23.0,71.0,0.9982,3.52,0.65,9.7,5,1
22,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.9966,3.17,0.91,9.5,5,1
23,8.5,0.490,0.11,2.3,0.084,9.0,67.0,0.9968,3.17,0.53,9.4,5,1
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.9968,3.43,0.63,9.7,6,1
25,6.3,0.390,0.16,1.4,0.080,11.0,23.0,0.9955,3.34,0.56,9.3,5,1
26,7.6,0.410,0.24,1.8,0.080,4.0,11.0,0.9962,3.28,0.59,9.5,5,1
27,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.9966,3.17,0.91,9.5,5,1
28,7.1,0.710,0.00,1.9,0.080,14.0,35.0,0.9972,3.47,0.55,9.4,5,1
29,7.8,0.645,0.00,2.0,0.082,8.0,16.0,0.9964,3.38,0.59,9.8,6,1

In [10]:
bin_balanced_df.groupby("bin_quality").count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
bin_quality,,,,,,,,,,,,
0,246,246,246,246,246,246,246,246,246,246,246,246
1,4974,4974,4974,4974,4974,4974,4974,4974,4974,4974,4974,4974
2,1277,1277,1277,1277,1277,1277,1277,1277,1277,1277,1277,1277

In [11]:
bad_df = bin_balanced_df.loc[bin_balanced_df['bin_quality']==0,:]
good_df = bin_balanced_df.loc[bin_balanced_df['bin_quality']==1,:]
great_df = bin_balanced_df.loc[bin_balanced_df['bin_quality']==2,:]

In [12]:
normalized_good_df = good_df.sample(n=246,random_state=42)

In [13]:
normalized_great_df = great_df.sample(n=246,random_state=42)

In [21]:
normal_df = pd.concat([bad_df,normalized_good_df,normalized_great_df])
normdf = normal_df.drop(columns = 'quality')
normdf

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,bin_quality
18,7.4,0.590,0.08,4.40,0.086,6.0,29.0,0.9974,3.38,0.50,9.0,0
38,5.7,1.130,0.09,1.50,0.172,7.0,19.0,0.9940,3.50,0.48,9.8,0
41,8.8,0.610,0.30,2.80,0.088,17.0,46.0,0.9976,3.26,0.51,9.3,0
45,4.6,0.520,0.15,2.10,0.054,8.0,65.0,0.9934,3.90,0.56,13.1,0
73,8.3,0.675,0.26,2.10,0.084,11.0,43.0,0.9976,3.31,0.53,9.2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
689,6.7,0.170,0.37,2.00,0.039,34.0,125.0,0.9922,3.26,0.60,10.8,2
456,6.3,0.230,0.31,1.50,0.022,11.0,82.0,0.9892,3.30,0.40,12.9,2
1830,7.7,0.440,0.24,11.20,0.031,41.0,167.0,0.9948,3.12,0.43,11.3,2
2776,7.0,0.360,0.32,10.50,0.045,35.0,135.0,0.9935,3.09,0.33,11.6,2
1127,6.4,0.125,0.29,5.85,0.042,24.0,99.0,0.9920,3.23,0.32,12.0,2

# Select your features (columns)

In [23]:
# Set features. Drop quality, y value. 
X = normdf.drop(columns=['bin_quality'])
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
18,7.4,0.590,0.08,4.4,0.086,6.0,29.0,0.9974,3.38,0.50,9.0
38,5.7,1.130,0.09,1.5,0.172,7.0,19.0,0.9940,3.50,0.48,9.8
41,8.8,0.610,0.30,2.8,0.088,17.0,46.0,0.9976,3.26,0.51,9.3
45,4.6,0.520,0.15,2.1,0.054,8.0,65.0,0.9934,3.90,0.56,13.1
73,8.3,0.675,0.26,2.1,0.084,11.0,43.0,0.9976,3.31,0.53,9.2

# Create a Train Test Split

Use `quality` for the y values

In [25]:
from sklearn.model_selection import train_test_split
#80% train, 20% test. y is this one column
y = normdf[['bin_quality']]
#random state 42 will have same picks for x test and y test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [26]:
X_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
445,7.1,0.32,0.32,11.0,0.038,16.0,66.0,0.99370,3.24,0.40,11.5
1369,6.6,0.61,0.00,1.6,0.069,4.0,8.0,0.99396,3.33,0.37,10.4
3618,7.1,0.27,0.24,12.6,0.044,48.0,118.0,0.99726,3.04,0.56,10.0
3692,7.1,0.20,0.27,9.6,0.037,19.0,105.0,0.99444,3.04,0.37,10.5
3503,6.9,0.33,0.31,4.2,0.040,21.0,93.0,0.98960,3.18,0.48,13.4

# Train the Model using Random Forest

In [27]:
#Train the model
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

C:\Users\kenne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [28]:
#Test the model
from sklearn.metrics import confusion_matrix, classification_report
predictions = rfc.predict(X_test)
print(classification_report(y_test, predictions))
print(predictions[9:20])
print(y_test[9:20])

              precision    recall  f1-score   support

           0       0.66      0.65      0.66        69
           1       0.56      0.55      0.55        62
           2       0.75      0.78      0.76        54

    accuracy                           0.65       185
   macro avg       0.66      0.66      0.66       185
weighted avg       0.65      0.65      0.65       185

[0 0 1 2 2 2 1 0 2 2 0]
     bin_quality
3404           1
11             1
456            2
1253           2
4103           2
1020           1
1843           1
1817           0
3634           2
2869           1
1189           0

# Save the Model

In [20]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'unbalanced-with-color.sav'
joblib.dump(predictions, filename)

['unbalanced-with-color.sav']